<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="GeoPhoto" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Software\Python27\python.exe|C:\inetpub\wwwroot\Django\wfastcgi.py" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>
</configuration>
