<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/user.css" %}">
</head>
<body>
    <h1 class="display-4 text-center">Our Users</h1>
    <ol>
        {% for user in user_dict %}
            <li> User Info </li>
                <ul>
                    <li>First Name: {{ user.first_name }}</li>
                    <li>Last Name: {{ user.last_name }}</li>
                    <li>Email: {{ user.email }}</li>
                </ul>
        {% endfor %}
    </ol>


</body>
</html>