{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工商变更企业推荐</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
</head>

<body>
    <div class="ui segment">
        <h1 class="ui text aligned centered header">
            窝头网OPS系统
        </h1>
    </div>

    <div class="ui segment">
        <div class="ui container segment">
             
                <a class="ui tag label" href="home" onmouseover="style.color='black'">首页</a>
                <a class="ui red tag label" onmouseover="style.color='purple'">企业推荐</a>
                <a class="ui teal tag label" href="business_change" onmouseover="style.color='blue'">工商变更企业推荐</a>
            
        </div>
    </div>
        <div class="ui container segment">
                <p class="ui header">企业：___________</p>
            </div>
        <div class="ui container segment">
                <button class="ui button">
                    导出Excel
                </button>
            </div>
        <div class="ui container vertical segment">
                <h4 class="ui horizontal container divider header"><i class="tag icon"></i> 变更内容 </h4>
            </div>
        <div class="ui container header">
                <table class="ui striped table">
                  <thead>
                    <tr>
                      <th>变更项目</th>
                      <th>变更时间</th>
                      <th>变更前</th>
                      <th>变更后</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        {% for project in projects %} 
                        <p>{{project.project_name}}<p>
                        <br>
                        {% endfor %}
                      </td>
                      <td>
                        {% for project in projects %} 
                        <p>{{project.change_date}}<p>
                        <br>
                        {% endfor %}
                      </td>
                      <td>
                        {% for project in projects %} 
                        <p>{{project.before_mail}}<p>
                        <br>
                        {% endfor %}
                      </td>
                      <td>
                        {% for project in projects %} 
                        <p>{{project.after_mail}}<p>
                        <br>
                        {% endfor %}
                      </td>
                    </tr>
                    <tr>
                      <td>Jamie Harington</td>
                      <td>January 11, 2014</td>
                      <td>jamieharingonton@yahoo.com</td>
                      <td>Yes</td>
                    </tr>
                    <tr>
                      <td>Jill Lewis</td>
                      <td>May 11, 2014</td>
                      <td>jilsewris22@yahoo.com</td>
                      <td>Yes</td>
                    </tr>
                    <tr>
                      <td>John Lilki</td>
                      <td>September 14, 2013</td>
                      <td>jhlilk22@yahoo.com</td>
                      <td>No</td>
                    </tr>
                    <tr>
                      <td>John Lilki</td>
                      <td>September 14, 2013</td>
                      <td>jhlilk22@yahoo.com</td>
                      <td>No</td>
                    </tr>
                    <tr>
                      <td>Jamie Harington</td>
                      <td>January 11, 2014</td>
                      <td>jamieharingonton@yahoo.com</td>
                      <td>Yes</td>
                    </tr>
                    <tr>
                      <td>Jill Lewis</td>
                      <td>May 11, 2014</td>
                      <td>jilsewris22@yahoo.com</td>
                      <td>Yes</td>
                    </tr>
                    <tr>
                      <td>John Lilki</td>
                      <td>September 14, 2013</td>
                      <td>jhlilk22@yahoo.com</td>
                      <td>No</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        <div class="ui container vertical segment">
                <h4 class="ui horizontal container divider header"><i class="tag icon"></i></h4>
            </div>
   


</body>

</html>