{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资讯跟踪</title>
    <link rel="stylesheet", href="{% static 'css/semantic.css' %}">
</head>
<body>
    <div class="ui segment">
        <h1 class="ui text aligned centered header">
            窝头网OPS系统
        </h1>
    </div>
    <div class="ui segment">
        <!-- <div class="path" style="float:left; padding: 30px"> -->
        <a class="ui tag label" href="home" onmouseover="style.color='black'">首页</a >
        <a class="ui red tag label" onmouseover="style.color='purple'">企业推荐</a>
        <a class="ui teal tag label" href="zixungenzong" onmouseover="style.color='purple'">资讯跟踪</a >
        <a class="ui teal tag label" href="for_track" onmouseover="style.color='purple'">公司列表</a >
    </div>
    <div class="ui container segment">
        <h3 class="ui header">批量查询</h3>
        <div class="ui divider"></div>
        <div>
            <div class="ui ordered list">
                <a class="ui basic result label" href="zixungenzong">企业1</a >
                <a class="ui basic result label" href="zixungenzong">企业2</a >
                <a class="ui basic result label" href="zixungenzong">企业3</a >
                <a class="ui basic result label" href="zixungenzong">企业4</a >
            </div>
        </div>
    </div>
</body>
</html>