{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>名单法</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
</head>
<body>
   
      <div class="ui segment">
        <h1 class="ui text aligned center header">
            窝头网OPS系统
        </h1>
      </div>

      <div class="ui segment">
        <a class="ui tag label" href="home" onmouseover="style.color='black'">首页</a>
        <a class="ui red tag label" onmouseover="style.color='purple'">企业推荐</a>
        <a class="ui teal tag label" href="zhuanlifa" onmouseover="style.color='blue'">名单法</a>
      </div>
      <div class="ui container segment">
      
        <div class="ui right floated container">
            <button class="ui padded button" style="float: right">
                导入文件Excel
            </button>
        </div>
        <h4 class="ui horizontal divider header"><i class="tag icon"></i> 详细内容 </h4>
        <div class="ui segment">
            <table class="ui single line table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Registration Date</th>
                  <th>E-mail address</th>
                  <th>Premium Plan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {% for name in companys %} 
                    <p>{{name.company_name}}<p>
                    <br>
                    {% endfor %}
                  </td>
                  <td>
                    {% for date in companys %} 
                    <p>{{name.company_registdate}}<p>
                    <br>
                    {% endfor %}
                  </td>
                  <td>
                    {% for date in companys %} 
                    <p>{{name.company_mail}}<p>
                    <br>
                    {% endfor %}
                  </td>
                  <td>
                    {% for date in companys %} 
                    <p>{{name.preniumplan}}<p>
                    <br>
                    {% endfor %}
                  </td>
                </tr>
                <tr>
                  <td>Jamie Harington</td>
                  <td>January 11, 2014</td>
                  <td>jamieharingonton@yahoo.com</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Jill Lewis</td>
                  <td>May 11, 2014</td>
                  <td>jilsewris22@yahoo.com</td>
                  <td>Yes</td>
                </tr>
              <tr>
                  <td>Jill Lewis</td>
                  <td>May 11, 2014</td>
                  <td>jilsewris22@yahoo.com</td>
                  <td>Yes</td>
                </tr>
              <tr>
                  <td>Jill Lewis</td>
                  <td>May 11, 2014</td>
                  <td>jilsewris22@yahoo.com</td>
                  <td>Yes</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="ui very wide segment">
        <button class="ui blue button">
            下一页
        </button>
    </div>
</body>
</html>