<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    	<h2 class="ui center aligned icon header">
			<i class="circular users icon inverted blue"></i>线索研究</h2>
    </title>
    {% load staticfiles %}
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
		<link rel="stylesheet" href="{% static "css/form-elements.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/semantic.css" %}">
    	<script type="text/javascript" src="{% static "js/jedate/jedate.js" %}"></script>
       	<script type="text/javascript" src="{% static "js/jedate/jedate.min.js" %}"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static "ico/favicon.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">
</head>
<body>
	<div class="path">
		<div class="row clearfix">
			<div class="col-md-50 column">
				<div class="panel panel-default">
					<p class = "ui segment" style="text-aligh:center">
						<div class="panel-heading">
							<div class="ui center aligned icon header" >
								<h1 class="content" style="margin-top:50px">窝头OPS系统</h1>
							</div>
							<div class="path" style="float:left; padding: 15px">
								<a class="ui tag label" href="home" onmouseover="style.color='black'">首页</a>
								<a class="ui red tag label" onmouseover="style.color='purple'">线索提取</a>
								<a class="ui teal tag label" href="xiansuotiqu1" onmouseover="style.color='blue'">医药线索</a>
							</div>
						</div>
					<p>
					<div class="calen" style="padding-top:20px">
						<form action="xiansuotiqu1" method="post">
							<label for="date" style="center">输入天数：</label>
							{% csrf_token %}
							{{ form.keyword }}
							<!--<input class="datainp" id="dateinp" type="data" name="day" placeholder="天数">-->
							<input type="submit" class='ui secondary button' style="margin-left: 20px">提取</input>
						</form>
						<script>
							function(date){
								var dt=date.getElementById('dateinp')
								if(dt)
								{
									return dt;
								}
								else
								{
									return null;
								}
							}
						</script>

					</div>
					<div>
					<iframe src="xiansuo_iframe" height="600px" width="99%" style="margin-top:15px;"> -->
					</iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</<html>

