<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>药品受审企业推荐</title>
    {% load staticfiles %}
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
		<link rel="stylesheet" href="{% static "css/form-elements.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/semantic.css" %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static "ico/favicon.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">
</head>
<body>
	<div class="path">
		<div class="row clearfix">
			<div class="col-md-50 column">
				<div class="panel panel-default" >
					<p class = "ui segment" style="text-aligh:center">
						<div class="ui center aligned icon header" >
							<h1 class="content" style="margin-top:50px">窝头OPS系统</h1>
						</div>
						<div class="path" style="float:left; padding: 15px">
							<a class="ui tag label" href="home" onmouseover="style.color='black'">首页</a>
							<a class="ui red tag label" onmouseover="style.color='purple'">企业推荐</a>
							<a class="ui teal tag label" href="nine" onmouseover="style.color='blue'">药品受审企业推荐</a>
						</div>
						

						<div class="panel-body" style="margin-top: 100px">
							<label for="date" style="center">上次推荐的时间为：</label>
							<input class="datainp" id="dateinp" type="data" placeholder="年yyyyy／月mm">
						</div>
					
					
						<div class="widget" style="padding-left: 20px;padding-right: 20px">
						<div class="update" style="margin-top: 30px">
							<button class="ui blue update_button">受审信息更新</button>
							
    					<div class="table-overflow" style="margin-top: 20px">
        					<table class="table table-striped table-bordered table-checks media-table" style="width:1000px;margin-left: 100px">
           					<thead>
           	 					<tr>
                					<td align="center" valign="top"  style="width:80px">
											<a class="top_nav" target="_self">受理号
											</a>	
                					</td>

                					<td align="center" valign="top"  style="width:80px">
											<a class="top_nav" target="_self">药品名称
											</a>	
                					</td>

                					<td align="center" valign="top"  style="width:80px">
											<a class="top_nav" target="_self">药品类型
											</a>	
                					</td>

                					<td align="center" valign="top"  style="width:80px">
											<a class="top_nav" target="_self">申请类型
											</a>	
                					</td>

                					<td align="center" valign="top"  style="width:80px">
											<a class="top_nav" target="_self">注册分类
											</a>	
                					</td>

                					<td align="center" valign="top"  style="width:80px">
											<a class="top_nav" target="_self">企业名称
											</a>	
                					</td>
                						
                					<td align="center" valign="top"  style="width:80px">
											<a class="top_nav" target="_self">承办日期
											</a>	
                					</td>
										
								</tr>
									<td><a class="num">CXSB1600018</a></td>
									<td><a class="class_pill">重组人粒细胞</a></td>
									<td><a class="class_apply">治疗用生物制品</a></td>
									<td><a class="class_apply">补充申请</a></td>
									<td><a class="class_register"> －－ </a></td>
									<td><a class="name_company">建能龙医疗技术（上海）有限公司</a></td>
									<td><a class="date">2017-02-08</a></td>
									
								<tr>
									
								</tr>
								<tr>
									
								</tr>

								<tr>
                				
								</tr>
								<tr>
									
								</tr>
								<tr>
								
								</tr>
								<tr>
									
								</tr>
								
								<tr>
                					
								</tr>
								<tr>
									
								</tr>
								

            				</thead>
        					</table>
    					</div>
    					<div>
    						<a class="ui blue label" href="#" style="margin-bottom: 20px">保存</a>
    						<a class="ui blue label" href="#" style="margin-bottom: 20px">下一页(第三页／第七页）</a>
    					</div>
    				</p>	
					</div>			
				</div>
			</div>
		</div>
	</div>
</body>
</<html>

